<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Groupinder</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateNoteServlet</display-name>
    <servlet-name>CreateNoteServlet</servlet-name>
    <servlet-class>com.servlet.CreateNoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateNoteServlet</servlet-name>
    <url-pattern>/CreateNoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchNotesServlet</display-name>
    <servlet-name>FetchNotesServlet</servlet-name>
    <servlet-class>com.servlet.FetchNotesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchNotesServlet</servlet-name>
    <url-pattern>/FetchNotesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoSERVLET</display-name>
    <servlet-name>DemoSERVLET</servlet-name>
    <servlet-class>com.servlet.DemoSERVLET</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoSERVLET</servlet-name>
    <url-pattern>/DemoSERVLET</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteNoteServlet</display-name>
    <servlet-name>DeleteNoteServlet</servlet-name>
    <servlet-class>com.servlet.DeleteNoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteNoteServlet</servlet-name>
    <url-pattern>/DeleteNoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailSendingServlet</display-name>
    <servlet-name>EmailSendingServlet</servlet-name>
    <servlet-class>com.servlet.EmailSendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailSendingServlet</servlet-name>
    <url-pattern>/EmailSendingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateReminderServlet</display-name>
    <servlet-name>CreateReminderServlet</servlet-name>
    <servlet-class>com.servlet.CreateReminderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateReminderServlet</servlet-name>
    <url-pattern>/CreateReminderServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>host</param-name>
    <param-value>smtp.mail.com</param-value>
  </context-param>
  <context-param>
    <param-name>port</param-name>
    <param-value>587</param-value>
  </context-param>
  <context-param>
    <param-name>user</param-name>
    <param-value>groupinder@mail.com</param-value>
  </context-param>
  <context-param>
    <param-name>pass</param-name>
    <param-value>20202020</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>EditNoteServlet</display-name>
    <servlet-name>EditNoteServlet</servlet-name>
    <servlet-class>com.servlet.EditNoteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditNoteServlet</servlet-name>
    <url-pattern>/EditNoteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCollaboratorServlet</display-name>
    <servlet-name>AddCollaboratorServlet</servlet-name>
    <servlet-class>com.servlet.AddCollaboratorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCollaboratorServlet</servlet-name>
    <url-pattern>/AddCollaboratorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchEventsReminderServlet</display-name>
    <servlet-name>FetchEventsReminderServlet</servlet-name>
    <servlet-class>com.servlet.FetchEventsReminderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchEventsReminderServlet</servlet-name>
    <url-pattern>/FetchEventsReminderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchRemindersServlet</display-name>
    <servlet-name>FetchRemindersServlet</servlet-name>
    <servlet-class>com.servlet.FetchRemindersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchRemindersServlet</servlet-name>
    <url-pattern>/FetchRemindersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteReminderServlet</display-name>
    <servlet-name>DeleteReminderServlet</servlet-name>
    <servlet-class>com.servlet.DeleteReminderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReminderServlet</servlet-name>
    <url-pattern>/DeleteReminderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateReminderServle</display-name>
    <servlet-name>CreateReminderServle</servlet-name>
    <servlet-class>com.servlet.CreateReminderServle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateReminderServle</servlet-name>
    <url-pattern>/CreateReminderServle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewRemindersServlet</display-name>
    <servlet-name>ViewRemindersServlet</servlet-name>
    <servlet-class>com.servlet.ViewRemindersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRemindersServlet</servlet-name>
    <url-pattern>/ViewRemindersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditReminderServlet</display-name>
    <servlet-name>EditReminderServlet</servlet-name>
    <servlet-class>com.servlet.EditReminderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditReminderServlet</servlet-name>
    <url-pattern>/EditReminderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteReminderServle</display-name>
    <servlet-name>DeleteReminderServle</servlet-name>
    <servlet-class>com.servlet.DeleteReminderServle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReminderServle</servlet-name>
    <url-pattern>/DeleteReminderServle</url-pattern>
  </servlet-mapping>
</web-app>